<a href="https://colab.research.google.com/github/aakashr30/SuperStore-of-PreProcessing-in-PySpark/blob/main/pyspark_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [ ]:
import pyspark

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/0 (1).MKCE/19.Spark/Sample - Superstore.csv')

In [ ]:
data

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2020-152156,08-11-20,11-11-20,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2020-152156,08-11-20,11-11-20,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2020-138688,12-06-20,16-06-20,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2019-108966,11-10-19,18-10-19,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2019-108966,11-10-19,18-10-19,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2018-110422,21-01-18,23-01-18,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2021-121258,26-02-21,03-03-21,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2021-121258,26-02-21,03-03-21,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2021-121258,26-02-21,03-03-21,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2021-119914,04-05-21,09-05-21,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Sample-Superstore').getOrCreate()

In [ ]:
spark

In [ ]:
data_pyspark = spark.read.option('header','true').csv('/content/drive/MyDrive/0 (1).MKCE/19.Spark/Sample - Superstore.csv',inferSchema=True)

In [ ]:
data_pyspark

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, Country/Region: string, City: string, State: string, Postal Code: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string]

**Adding columns in dataframe**

In [ ]:
data_pyspark1 = data_pyspark.withColumn('Profit %',data_pyspark['Profit']/data_pyspark['Sales']*100)

In [ ]:
data_pyspark1.show()

+------+--------------+----------+---------+--------------+-----------+------------------+-----------+--------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------------+
|Row ID|      Order ID|Order Date|Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|Country/Region|           City|         State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|          Profit %|
+------+--------------+----------+---------+--------------+-----------+------------------+-----------+--------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------------+
|     1|CA-2020-152156|  08-11-20| 11-11-20|  Second Class|   CG-12520|       Claire Gute|   Consumer| United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|       0| 41.9136|16.000000000000004|
|     2|CA-2020-152156|  08-11-20| 11-11-20|  Second Class|   CG-12520|       Claire Gute|   Consumer| United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|       0| 219.582|              30.0|
|     3|CA-2020-138688|  12-06-20| 16-06-20|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate| United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|       0|  6.8714|              47.0|
|     4|US-2019-108966|  11-10-19| 18-10-19|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer| United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|             -40.0|
|     5|US-2019-108966|  11-10-19| 18-10-19|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer| United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|             11.25|
|     6|CA-2018-115812|  09-06-18| 14-06-18|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer| United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|       0| 14.1694|28.999999999999996|
|     7|CA-2018-115812|  09-06-18| 14-06-18|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer| United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|       0|  1.9656|              27.0|
|     8|CA-2018-115812|  09-06-18| 14-06-18|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer| United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|              10.0|
|     9|CA-2018-115812|  09-06-18| 14-06-18|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer| United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|31.249999999999993|
|    10|CA-2018-115812|  09-06-18| 14-06-18|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer| United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|       0|   34.47|              30.0|
|    11|CA-2018-115812|  09-06-18| 14-06-18|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer| United States|    Los Angeles|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|               5.0|
|    12|CA-2018-115812|  09-06-18| 14-06-18|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer| United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568| 7.500000000000001|
|    13|CA-2021-114412|  15-04-21| 20-04-21|Standard Class|   AA-10480|      Andrew Allen|   Consumer| United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|              35.0|
|    14|CA-2020-161389|  05-12-20| 10-12-20|Standard Class|   IM-15070|      Irene Maddox|   Consumer| United States|        Seattle|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922| 32.49999999999999|
|    15|US-2019-118983|  22-11-19| 26-11-19|Standard Class|   HP-14815|     Harold Pawlan|Home Office| United States|     Fort Worth|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|            -180.0|
|    16|US-2019-118983|  22-11-19| 26-11-19|Standard Class|   HP-14815|     Harold Pawlan|Home Office| United States|     Fort Worth|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|            -150.0|
|    17|CA-2018-105893|  11-11-18| 18-11-18|Standard Class|   PK-19075|         Pete Kriz|   Consumer| United States|        Madison|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|"Stur-D-Stor Shel...|  665.88|       6|       0| 13.3176|               2.0|
|    18|CA-2018-167164|  13-05-18| 15-05-18|  Second Class|   AG-10270|   Alejandro Grove|   Consumer| United States|    West Jordan|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|       0|    9.99|              18.0|
|    19|CA-2018-143336|  27-08-18| 01-09-18|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer| United States|  San Francisco|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|       0|  2.4824|28.999999999999996|
|    20|CA-2018-143336|  27-08-18| 01-09-18|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer| United States|  San Francisco|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|               7.5|
+------+--------------+----------+---------+--------------+-----------+------------------+-----------+--------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------------+
only showing top 20 rows

In [ ]:
type(data_pyspark1)

pyspark.sql.dataframe.DataFrame

In [ ]:
data_pyspark.dtypes

[('Row ID', 'int'),
 ('Order ID', 'string'),
 ('Order Date', 'string'),
 ('Ship Date', 'string'),
 ('Ship Mode', 'string'),
 ('Customer ID', 'string'),
 ('Customer Name', 'string'),
 ('Segment', 'string'),
 ('Country/Region', 'string'),
 ('City', 'string'),
 ('State', 'string'),
 ('Postal Code', 'int'),
 ('Region', 'string'),
 ('Product ID', 'string'),
 ('Category', 'string'),
 ('Sub-Category', 'string'),
 ('Product Name', 'string'),
 ('Sales', 'string'),
 ('Quantity', 'string'),
 ('Discount', 'string'),
 ('Profit', 'double')]

In [ ]:
data_pyspark1.printSchema()

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country/Region: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: double (nullable = true)
 |-- Profit %: double (nullable = true)

In [ ]:
data_pyspark1.show(3)

+------+--------------+----------+---------+------------+-----------+---------------+---------+--------------+-----------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------------+
|Row ID|      Order ID|Order Date|Ship Date|   Ship Mode|Customer ID|  Customer Name|  Segment|Country/Region|       City|     State|Postal Code|Region|     Product ID|       Category|Sub-Category|        Product Name| Sales|Quantity|Discount| Profit|          Profit %|
+------+--------------+----------+---------+------------+-----------+---------------+---------+--------------+-----------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------------+
|     1|CA-2020-152156|  08-11-20| 11-11-20|Second Class|   CG-12520|    Claire Gute| Consumer| United States|  Henderson|  Kentucky|      42420| South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|261.96|       2|       0|41.9136|16.000000000000004|
|     2|CA-2020-152156|  08-11-20| 11-11-20|Second Class|   CG-12520|    Claire Gute| Consumer| United States|  Henderson|  Kentucky|      42420| South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|731.94|       3|       0|219.582|              30.0|
|     3|CA-2020-138688|  12-06-20| 16-06-20|Second Class|   DV-13045|Darrin Van Huff|Corporate| United States|Los Angeles|California|      90036|  West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...| 14.62|       2|       0| 6.8714|              47.0|
+------+--------------+----------+---------+------------+-----------+---------------+---------+--------------+-----------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------------+
only showing top 3 rows

In [ ]:
data_pyspark.select(['Customer Name','Sales','Profit']).show()

+------------------+--------+--------+
|     Customer Name|   Sales|  Profit|
+------------------+--------+--------+
|       Claire Gute|  261.96| 41.9136|
|       Claire Gute|  731.94| 219.582|
|   Darrin Van Huff|   14.62|  6.8714|
|    Sean O'Donnell|957.5775|-383.031|
|    Sean O'Donnell|  22.368|  2.5164|
|   Brosina Hoffman|   48.86| 14.1694|
|   Brosina Hoffman|    7.28|  1.9656|
|   Brosina Hoffman| 907.152| 90.7152|
|   Brosina Hoffman|  18.504|  5.7825|
|   Brosina Hoffman|   114.9|   34.47|
|   Brosina Hoffman|1706.184| 85.3092|
|   Brosina Hoffman| 911.424| 68.3568|
|      Andrew Allen|  15.552|  5.4432|
|      Irene Maddox| 407.976|132.5922|
|     Harold Pawlan|   68.81|-123.858|
|     Harold Pawlan|   2.544|  -3.816|
|         Pete Kriz|  665.88| 13.3176|
|   Alejandro Grove|    55.5|    9.99|
|Zuschuss Donatelli|    8.56|  2.4824|
|Zuschuss Donatelli|  213.48|  16.011|
+------------------+--------+--------+
only showing top 20 rows

In [ ]:
#drop column the datafram the values
data_pyspark1.drop('Profit %')

DataFrame[Row ID: int, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, Country/Region: string, City: string, State: string, Postal Code: int, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: double]

In [ ]:
data_pyspark.show(10)

+------+--------------+----------+---------+--------------+-----------+---------------+---------+--------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|Row ID|      Order ID|Order Date|Ship Date|     Ship Mode|Customer ID|  Customer Name|  Segment|Country/Region|           City|     State|Postal Code|Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|
+------+--------------+----------+---------+--------------+-----------+---------------+---------+--------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2020-152156|  08-11-20| 11-11-20|  Second Class|   CG-12520|    Claire Gute| Consumer| United States|      Henderson|  Kentucky|      42420| South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|       0| 41.9136|
|     2|CA-2020-152156|  08-11-20| 11-11-20|  Second Class|   CG-12520|    Claire Gute| Consumer| United States|      Henderson|  Kentucky|      42420| South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|       0| 219.582|
|     3|CA-2020-138688|  12-06-20| 16-06-20|  Second Class|   DV-13045|Darrin Van Huff|Corporate| United States|    Los Angeles|California|      90036|  West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|       0|  6.8714|
|     4|US-2019-108966|  11-10-19| 18-10-19|Standard Class|   SO-20335| Sean O'Donnell| Consumer| United States|Fort Lauderdale|   Florida|      33311| South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|
|     5|US-2019-108966|  11-10-19| 18-10-19|Standard Class|   SO-20335| Sean O'Donnell| Consumer| United States|Fort Lauderdale|   Florida|      33311| South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|
|     6|CA-2018-115812|  09-06-18| 14-06-18|Standard Class|   BH-11710|Brosina Hoffman| Consumer| United States|    Los Angeles|California|      90032|  West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|       0| 14.1694|
|     7|CA-2018-115812|  09-06-18| 14-06-18|Standard Class|   BH-11710|Brosina Hoffman| Consumer| United States|    Los Angeles|California|      90032|  West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|       0|  1.9656|
|     8|CA-2018-115812|  09-06-18| 14-06-18|Standard Class|   BH-11710|Brosina Hoffman| Consumer| United States|    Los Angeles|California|      90032|  West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|
|     9|CA-2018-115812|  09-06-18| 14-06-18|Standard Class|   BH-11710|Brosina Hoffman| Consumer| United States|    Los Angeles|California|      90032|  West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|
|    10|CA-2018-115812|  09-06-18| 14-06-18|Standard Class|   BH-11710|Brosina Hoffman| Consumer| United States|    Los Angeles|California|      90032|  West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|       0|   34.47|
+------+--------------+----------+---------+--------------+-----------+---------------+---------+--------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
only showing top 10 rows

In [ ]:
data_pyspark1.select(['Ship Date']).show()

+---------+
|Ship Date|
+---------+
| 11-11-20|
| 11-11-20|
| 16-06-20|
| 18-10-19|
| 18-10-19|
| 14-06-18|
| 14-06-18|
| 14-06-18|
| 14-06-18|
| 14-06-18|
| 14-06-18|
| 14-06-18|
| 20-04-21|
| 10-12-20|
| 26-11-19|
| 26-11-19|
| 18-11-18|
| 15-05-18|
| 01-09-18|
| 01-09-18|
+---------+
only showing top 20 rows